/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  
  .top-wrapper h1 {
    font-size: 32px;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  
  .top-wrapper {
    text-align: left;
  }
 
  .top-wrapper h1 {
    font-size: 24px;
  }
  
  .top-wrapper p {
    font-size: 14px;
  }
  
  .header-right {
    display: none;
  }
  
  .signup,.facebook,.twitter {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .menu-icon {
    display: block;
  }
}