/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

li {
  list-style: none;
}

/* ここからCSSを記述してください */
header {
  color: #fff;
  background-color: #26d0c9;
  height: 90px;
}

h1 {
  font-size: 140px;
}

h1 .dot {
  color: #ff4a4a;
}

h2 {
  font-size: 60px;
}

.top {
  float: left;
}

.top .title {
  display: inline-block;
  font-size: 36px;
  padding: 20px 40px;
}

.top .contents {
  display: inline-block;
  padding: 33px 20px;
}

.main {
  margin: 100px 80px;
}